<?xml version="1.0"?>
<launch>
<param name="/use_sim_time" value="True"/>
<arg name="gui" default="true"/>		<!-- launch rviz -->
<arg name="debug_visualization" default="false"/>

	
<rosparam file="$(find safe_and_robust_lidar_map_update)/parameters.yaml" />

<!--map update -->

<node pkg="safe_and_robust_lidar_map_update" type="map_checker_node" name="map_updater" output="screen">
    <param name="visualize_on_rviz" value="$(arg gui)"/>
    <param name="visualize_debug_stuff" value="$(arg debug_visualization)"/>
</node>

<node pkg="safe_and_robust_lidar_map_update" type="updated_map_processer_node" name="updated_map_processer" output="screen"/>-

<!--pose updater-->
<node pkg="safe_and_robust_lidar_map_update" type="update_localization" name="update_localization" output="screen">

</node>

<!--velocity control node--> <!--take in input the cmd vel velocity and act on start and stop depending on pose updater module-->
<!--subscribe to teleop_cmd_vel and publish on /cmd_vel topic-->
<node pkg="safe_and_robust_lidar_map_update" type="publish_cmd_vel" name="publish_cmd_vel" output="screen"/>


</launch>
